<section class="trending-container">
    <div class="container movie-views">
       <div class="d-flex justify-content-between align-items-center">
            <h2 class="text-white">Trending</h2>
            <button class="btn btn-view-all">
                View all <i class="pi pi-arrow-right"></i>
            </button>
       </div>
        <div class="all-movies row " >
            <article class="movie-view col-12 mt-4 col-sm-6 mt-lg-0 col-lg-4 " *ngFor="let movie of viewTrending;" >
                <div class="left-icon">
                    <i class="pi pi-clock"></i>
                    <span>3:12:00</span>
                </div>
                <div class="right-icon">
                    <i class="pi pi-star"></i>
                    <span>{{ movie["known_for"][0]["vote_average"] | voteAvg }}</span>
                </div>
                <img src="{{imgPath}}{{movie.profile_path}}" alt="" >
                <div class="footer d-flex justify-content-between mt-2 align-items-center">
                    <p class="text-white">{{movie.original_name}}</p>
                    <div class="btns">
                        <button class="btn btn-danger rounded-2 ms-2" >Comedy</button>
                    </div>
                </div>
            </article>
           
        </div>
    </div>
</section>
