<article class="movie-view">
    <img src="assets/images/img-film-1.png" alt="">
    <div class="footer d-flex justify-content-between mt-2 align-items-center">
        <div class="left">
            <p class="text-white">Medelling</p>
            <button class="btn btn-danger rounded-2 ms-2">HD</button>
        </div>
        <div class="right">
            <div class="clock-icon">
                <i class="pi pi-clock"></i>
                <span>3:12:00</span>
            </div>
        </div>
    </div>
</article>
